<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.picmymedcode">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <application

        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity
            android:name="com.example.picmymedcode.View.MainActivity"
            android:windowSoftInputMode="adjustResize">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.picmymedcode.View.SignUpActivity"
            android:label="Enter Username" />
        <activity
            android:name="com.example.picmymedcode.View.UserProfileTypeActivity"
            android:label="Sign Up" />
        <activity
            android:name="com.example.picmymedcode.View.PatientActivity"
            android:label="Problem" />
        <activity
            android:name="com.example.picmymedcode.View.TabSearchActivity"
            android:label="Tab Search" />
        <activity
            android:name="com.example.picmymedcode.View.AddProblemActivity"
            android:label="New Problem" />
        <activity
            android:name="com.example.picmymedcode.View.EditProblemActivity"
            android:label="Edit Problem" />
        <activity
            android:name="com.example.picmymedcode.View.RecordActivity"
            android:label="Record" />
        <activity
            android:name="com.example.picmymedcode.View.AddRecordActivity"
            android:label="New Record" />
        <activity
            android:name="com.example.picmymedcode.View.CommentActivity"
            android:label="Comment" />
        <activity
            android:name="com.example.picmymedcode.View.ProfileActivity"
            android:label="Profile" />
        <activity
            android:name="com.example.picmymedcode.View.EditProfileActivity"
            android:label="Edit Profile" />
        <activity
            android:name="com.example.picmymedcode.View.CareProviderActivity"
            android:label="Care Provider" />
        <activity
            android:name="com.example.picmymedcode.View.CareProviderCommentActivity"
            android:label="Add patient" />
        <activity
            android:name="com.example.picmymedcode.View.CareProviderRecordActivity"
            android:label="Record" />
        <activity
            android:name="com.example.picmymedcode.View.CareProviderAddComment"
            android:label="Add Commet" />
        <activity
            android:name="com.example.picmymedcode.View.CareProviderProblemActivity"
            android:label="Patient&apos;s Problems" />
        <activity
            android:name="com.example.picmymedcode.View.CareProviderAddPatientActivity"
            android:label="Add patient" />

        <activity
            android:name="com.example.android.picmymedphotohandler.PhotoIntentActivity"
            android:exported="true"
            android:label="Take Photos" />
        <activity android:name="com.example.picmymedmaphandler.View.DrawMapActivity" />
        <activity
            android:name="com.example.picmymedmaphandler.Controller.MapButtonActivity"
            android:exported="true" />
        <activity
            android:name="com.example.android.picmymedphotohandler.GalleryActivity"
            android:exported="true"
            android:label="Photo Gallery" />
        <activity
            android:name="com.example.android.picmymedphotohandler.PhotoEnlargementActivity"
            android:exported="true"
            android:label="Enlarged Photo" />
        <activity
            android:name="com.example.android.picmymedphotohandler.SlideshowActivity"
            android:exported="true"
            android:label="Slide Show" />
        <activity
            android:name="com.example.QRCode.GeneratorActivity"
            android:exported="true" />
        <activity android:name="com.example.QRCode.ScannerActivity" />
        <activity
            android:name=".View.BodyLocationPhotoManagerActivity"
            android:exported="true"
            android:label="Body Location Photo Manager" />
      
        <activity android:name=".View.XOnBodyLocationActivity"
            android:exported="true"/>
        <activity android:name=".View.EditRecordActivity" />
        <activity android:name=".View.SelectBodyLocationActivity" />
        <activity android:name=".View.XFixedPhotoActivity" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <meta-data
            android:name="com.google.android.gms.version.DEPENDENCIES"
            android:value="barcode" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_map_API_key" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.android.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>
